MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/carrycore?appName=Cluster0
JWT_SECRET=<your_jwt_secret>
EMAIL_USER=<your_gmail_address>
EMAIL_PASS=<your_gmail_app_password>
CLIENT_URL=http://localhost:5173
